<section>

    <div class="container menu">
        <app-cms></app-cms>
    </div>

    <div class="container logo">
        <img class="col img" src="assets/Image/Img/undraw_publish_post_vowb.svg">
    </div>

    <div class="container options">
        <div class="row opt">
            <div class="col-sm creat">
                <button mat-raised-button matTooltip="Crear Agenda">
                    <a routerLink='/agend-new' class="material-icons crt">
                        insert_invitation
                    </a>
                </button>
            </div>
            <div class="col-sm list">
                <button mat-raised-button matTooltip="Lista de Agendas">
                    <a routerLink='/list-agend' class="material-icons lst">
                        notes
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <button mat-raised-button matTooltip="Atras" class="btn-back">
            <a routerLink='/guni' class="material-icons back">
                menu_open
            </a>
        </button>
    </div>

</section>