<section>

    <div class="container menu">
        <app-cms></app-cms>
    </div>

    <div class="title">
        <h1>Actualizar Evento</h1>
    </div>

    <div class="container">
        <div class="row">
            <form class="nw-ev" #formEvent="ngForm" (ngSubmit)='onSubmitEv()'>
                <div class="container">
                    <label>Titulo</label>
                    <input type="text" #name='ngModel' name="name" [(ngModel)]='event.name' required placeholder="Nombre del Evento" class="form-control col-xl">
                </div>
                <br>
                <div class="container">
                    <label>Url Externo </label>
                    <input type="url" #link='ngModel' name="link" [(ngModel)]='event.link' required placeholder="Url Externo si existese" class="form-control col-xl">
                </div>
                <br>
                <div class="container">
                    <label>Elegir Imagen </label>
                    <input type="file"  required placeholder="Imagen en espera..." (change)='fileChangeEvent($event)' class="form-control col-xl" >
                </div>

                <div class="op container">
                    <input type="submit" value="Actulizar" class="btn btn-success">
                </div>

            </form>
        </div>
    </div>

    
</section>