<section>
    <div class="container">
        <app-cms></app-cms>
    </div>

    <div class="container list-user">
      <div class="mat-elevation-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of user | paginate: { itemsPerPage: 3, currentPage: p }">
              <td>{{element.firstname}}</td>
              <td>{{element.firstlastname}}</td>
              <td>{{element.email}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

</section>
