<section>
    <div class="container">
        <app-cms></app-cms>
    </div>

    <div class="container list-user">
      <div class="mat-elevation-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of user | paginate: { itemsPerPage: 3, currentPage: p }">
              <td>{{element.firstname}}</td>
              <td>{{element.firstlastname}}</td>
              <td>{{element.email}}</td>
              <td class="example-buttom-container">
                <button mat-fab color="primary" aria-label="Editar Usuario" matTooltip="Editar">
                <mat-icon class="cd">create</mat-icon>
                </button>
              </td>
              <td>
                <button mat-fab color="primary" aria-label="Eliminar Usuario" matTooltip="Eliminar">
                  <mat-icon class="cd">delete</mat-icon>
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="container">
        <button mat-raised-button matTooltip="Atras" class="btn-back">
          <a routerLink="/register" class="material-icons back">
            menu_open
          </a>
        </button>
      </div>
    </div>

</section>
