<section>
    <div class="container menu">
        <app-cms></app-cms>
    </div>

    <div class="container logo">
        <img class="col img" src="assets/Image/Img/undraw_responsive_6c8s.svg">
    </div>

    <div class="container options">
        <div class="row opt">
            <div class="col-sm creat">
                <button mat-raised-button matTooltip="Crear Usuario">
                    <a routerLink='/Create-User' class="material-icons crt">
                        person_add
                    </a>
                </button>
            </div>
            <div class="col-sm list">
                <button mat-raised-button matTooltip="Lista de Usuario">
                    <a href="#" class="material-icons lst">
                        people
                    </a>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <button mat-raised-button matTooltip="Atras" class="btn-back">
            <a routerLink='/guni' class="material-icons back">
                menu_open
            </a>
        </button>
    </div>

</section>
